@reference "../../../index.css";

.ProseMirror-focused {
	@apply outline-none;
}

.tiptap {
	@apply text-sm leading-relaxed;
	@apply font-sans;

	h1 {
		@apply text-lg;
		margin-bottom: 0.5rem;
	}

	h2 {
		@apply text-base;
		margin-bottom: 0.5rem;
	}

	a {
		@apply underline;
	}

	p {
		@apply mb-1;
	}

	hr {
		@apply my-4;
	}

	p.is-empty::before {
		color: #404040;
		content: attr(data-placeholder);
		float: left;
		height: 0;
		pointer-events: none;
	}

	ul {
		list-style: disc;
		margin-left: 1rem;
	}

	ol {
		list-style: decimal;
		margin-left: 1rem;
	}

	pre {
		@apply border p-2 my-2;

		code {
			background: none;
			color: inherit;
			font-size: 0.8rem;
			padding: 0;
		}
	}

	blockquote {
		@apply border-l-2 border-primary pl-4 italic ml-2;
	}

	img {
		display: block;
		height: auto;
		margin: 1.5rem 0;
		max-width: 100%;

		&.ProseMirror-selectednode {
			outline: 3px solid var(--purple);
		}
	}
}

.editor-xl {
	.tiptap {
		@apply text-lg;

		h1 {
			@apply text-2xl;
		}

		h2 {
			@apply text-xl;
		}
	}
}

.tiptap .bubble-menu {
	@apply flex gap-2;
}
