@import "@mimir/ui/index.css";
@source "../../packages/ui";

@theme {
	--animate-fade-in: fade-in 0.3s ease-in-out both;

	@keyframes fade-in {
		0% {
			opacity: 0;
			transform: translateX(10px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
}
