@import "@mimir/ui/index.css";
@source "../../packages/ui";

@theme {
	--animate-slide-in-top: slide-in-top 0.3s ease-in-out both;
	@keyframes slide-in-top {
		0% {
			opacity: 0;
			transform: translateY(-5px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	--animate-fade-in: fade-in 0.3s ease-in-out both;
	@keyframes fade-in {
		0% {
			opacity: 0;
			transform: translateX(5px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	--animate-blur-in: blur-in 0.3s ease-in-out both;
	@keyframes blur-in {
		0% {
			opacity: 0;
			transform: scale(0.98);
			filter: blur(5px);
		}
		100% {
			opacity: 1;
			transform: scale(1);
			filter: blur(0);
		}
	}
}
